.card {
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid red;
  border-radius: 8px;
  background-color: rgba(154, 150, 145, 0.8);
  box-shadow: 10px 1px 38px 0px rgba(174, 217, 207, 1);
  padding-top: 20px;
}
